body{
    background-color:rgb(53,53,53)
    
}
.top{
    font-family: 'Tangerine', cursive;
    font-size: 72px;
    color:whitesmoke;
    text-align: center;


}

h3{
    font-family: 'Unica One';
    font-size: 26px;
    text-align: center;
}

img src{
    width:540px;
    border color
}
